html{
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Nav Bar, alle knapper = submit */
input[type=submit]{
    color: darkgoldenrod;
    background-color: white;
    border-radius: 10px;
    border-color: darkgoldenrod;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20%;
}
/* Login knap */
.loginbutton input[value="LOGIN"] {
    color: darkgoldenrod;
    background-color: white;
    border-radius: 10px;
    border-color: darkgoldenrod;
    font-size: 16px;
    float: right;
    cursor: pointer;
}
/* Nav Bar*/
.homenav{
    background-color: white;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    position: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
/* Nav Bar, lampeånden */
.logo-text{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
/* Logo */
img{
    height: 50px;
    width: 50px;
    flex-direction: row;
    display: flex;
}
/*Inde body */
body {
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
    height: 100%;
}
/*Intro txt */
.intro{
    text-align: center;
    color: white;
    top: 20%;
    position: relative;
}
/*Footer*/
footer {
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
/* Footer.html */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-container p {
    color: darkgoldenrod;

}


