/* Opret Bruger */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Logo øverst på siden */
.logo-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
nav {
    background-color: white;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    height: 50px;
    width: 50px;
}

/* Body */
body{
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Tilmeldingsform */

.creation {
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin: 10%;
    position: relative;
}

p {
    color: white;
}
/* Password felt */
input[type=password] {
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    box-sizing: border-box;
}
/* Username felt */
input[type=text] {
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    box-sizing: border-box;
;
}
/* Submit button */
input[type=submit] {
    color: white;
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin: 2%;
}


/*Footer*/
footer {
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
/* Footer.html */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.footer-container p {
    color: darkgoldenrod;

}

