/*Wishlist display*/
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Logo øverst på siden */
.logo-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
nav {
    background-color: white;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* LOGO */
img {
    height: 50px;
    width: 50px;
}

/* Body */
body{
    background-color: dodgerblue;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Position */
.wishlistbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;

}
.wishlistbox h1{
    color: white;
}


footer {
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
/* Footer.html */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}